.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color:#2ce2a2
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


input.form-control, input.form-control:focus {
  background: #F0F0FF;
  
}


.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}

